[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = {extras = ["binary"], version = "*"}
django-debug-toolbar = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-nested-routers = "*"
django-filter = "*"
python-dotenv = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
ruff = "*"
black = "*"

[requires]
python_version = "3.12"
